#player {
    width: 50px;
    height: 50px;
    background-image: url("players.png");
    background-position: -5px -13px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    border: 2px solid red;
}