#player {
     width: calc(832px / 13);
    height: calc(3456px / 54);
    background-image: url("players.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    border: 2px solid red;
}
