#player {
    width: 50px;
    height: 50px;
    background-image: url("players.png");
    background-position: -5px -13px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    border: 2px solid red;
}



.bomb {
    position: absolute  ;
    width: 50px;
    height: 50px;
    background-image: url("bomb10.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: 250px 250px;
    border: 2px solid rgb(81, 255, 0);
}